.DS_Store
*.pyc
*~
xcuserdata
*.o
*.lo
*.a
*.la
.ice-tmp
ice-stats.csv
src/*.lib/build
buildlib
.libs
src/G3D
src/fmod
src/cwapp/build
bin/linux/cwapp
config.log
config.status
libtool
freetype-config
*.pc
src/freetype-*/builds/unix/unix-def.mk
libfreetype.so
CaveWriting.build
